<config>
    <modules>
        <BlueAcorn_AjaxProductCompare>
            <version>0.1.0</version>
        </BlueAcorn_AjaxProductCompare>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ba_ajaxCompare>
                    <file>blueacorn/ba_ajaxCompare.xml</file>
                </ba_ajaxCompare>
            </updates>
        </layout>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <ba_compare before="Mage_Catalog">BlueAcorn_AjaxProductCompare</ba_compare>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>