<!--
/**
* @package     BlueAcorn\AjaxProductCompare
* @version     0.1.0
* @author      Blue Acorn, Inc. <code@blueacorn.com>
* @copyright   Copyright © 2015 Blue Acorn, Inc.
*/
-->

<config>
    <modules>
        <BlueAcorn_AjaxProductCompare>
            <version>0.1.0</version>
        </BlueAcorn_AjaxProductCompare>
    </modules>
    <global>
        <helpers>
            <blueacorn_ajaxproductcompare>
                <class>BlueAcorn_AjaxProductCompare_Helper</class>
            </blueacorn_ajaxproductcompare>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <blueacorn_ajaxproductcompare>
                    <file>blueacorn/ba_ajaxCompare.xml</file>
                </blueacorn_ajaxproductcompare>
            </updates>
        </layout>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <blueacorn_ajaxproductcompare before="Mage_Catalog">BlueAcorn_AjaxProductCompare</blueacorn_ajaxproductcompare>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>